<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEASUREMENT</title>
</head>
<body>
<div>
	<a href="{% url 'create_measurement' %}">Add measurement</a>
</div>
 {% for measurement in measurements %}
     <p>{{ measurement.value }} : {{ measurement.description }} - {{ measurement.autor }}</p>
 {% endfor %}
</body>
</html>
